<body>
    <header>
        <div>
            <span class="brand-name">GenAI APP</span>
        </div>
        <nav>
            <button class="btn btn-danger" (click)="Summarize()">Summarize</button>
            <button class="btn btn-danger" (click)="ImageProcess()">Image</button>
            <!-- <button class="btn btn-danger" (click)="TextProcessing()">Text</button> -->
            <button class="btn btn-danger" (click)="GoToHome()">Home</button>
            <!-- <button class="btn btn-primary" (click)="listAll()">Company</button>
            <button class="bi bi-search btn btn-primary"  (click)="findStockDetails()">Stock</button>
            -->
        </nav>
    </header>
    <!-- <h3 style="text-align: center;background-color: aquamarine;">Hi!! <b><i>{{user}} </i></b>Welcome to Stock Market Application.</h3> -->
</body>