<app-header></app-header>
<section>
    <div class="container">
        <div class="card">
            
            <img src='./assets/genaidocimage.jpg' class="card-img">
            <div class="card-header">
                <p><b>Summarize Your Document</b></p>
                <p><i>Our Advanced GenAI model will help you getting the summary of your document.</i></p>
            </div>
            <div class="card-body">
                <div>
                    <button class="btn btn-danger w-100" (click)="GoToPdfComponent()">Summarize</button>
                </div>
    
            </div>
        </div>
    
        <div class="card">
            <img src='./assets/imageanalysis1.jpg' class="card-img">
            <div class="card-header">
                <p><b>Process Your Image</b></p>
                <p><i>Our Advanced GenAI model will help you in recognize, analyze and interpret image.</i></p>
            </div>
            <div class="card-body">
                <div>
                    <button class="btn btn-danger w-100" (click)="GoToImageProcessing()">Image</button>
                </div>
    
            </div>
        </div>
    
    
        <!-- <div class="card">
            <img src='./assets/genaidocimage.jpg' class="card-img">
            <div class="card-header">
                <p><b>Image Processing</b></p>
                <p><i>Our Advanced GenAI model will help you in understanding the image</i></p>
            </div>
            <div class="card-body">
                <div>
                    <button class="btn btn-danger w-100" (click)="GoToTextProcessing()">Text</button>
                </div>
            </div>
        </div> -->
    </div> 
</section>
<footer>
        <div class="side1">
            <div class="footer-title">2024 &copy;copyright all rights reserved.</div>
            <div>Mail us at: abc&#64;genaiapp.com</div>
            
        </div>
        <div class="side2">
            <div class="footer-title">Registered Office Details:</div>
            <div>
                GenAI App Application,
                Manyata Tech Park,
                Bangalore,560103,
                Karnataka,India 
            </div>
    
        </div>
        <div class="side3">
            <div class="footer-title">Contact:</div>
            <div>1-202-555-0105</div>
            <div>help&#64;genaiapp.com</div>
        </div>
        
    </footer>
